* {
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Kodchasan', sans-serif;
}

body {
  font-size: 14px;
  color: #333;
  background-color: #fff;
  letter-spacing: 2px;
}

/* Pinwheel loader on reload */
.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
.loader .inner-loader {
  width: 100%;
  height: 100%;
  background: url(../img/pinwheel-loader.gif) center center no-repeat;
}

/* Navbar********* */
#navigation {
  background-color: #23546d;
  padding: 10px 10px;
  z-index: 90;
}
#navigation a {
  color: #fff;
}
.fa-bars,
.navbar-brand,
.navbar-brand:hover {
  color: #fff;
}

/* Header******** */
.headerImg {
  width: 100%;
  z-index: 6;
}
.headerMsg {
  width: 100%;
  position: absolute;
  height: 250px;
  top: 50%;
  text-align: center;
  color: rgb(241, 241, 252);
  z-index: 5;
  margin-top: -55px;
}
.headerName {
  font-size: 63px;
  letter-spacing: 6px;
}
.headerTitle {
  font-size: 36px;
  letter-spacing: 6px;
}

/* About********** */
.section {
  padding: 100px 0;
}
.face-shot {
  width: 100%;
  max-width: 300px;
}

/* Skills **************** */
.skills-text h2 {
  background-color: #23546d;
  padding: 10px;
  height: 60px;
  text-align: center;
  width: 100%;
  color: #fff;
}
.skills-section p {
  text-align: center;
}
.skills-section {
  background-color: #607d8b;
  color: #fff;
}
.box-item {
  margin-top: 30px;
  position: relative;
}
.box-inner-container {
  position: relative;
  padding: 20px 15px 25px;
  text-align: center;
  border: 2px solid #fff;
  border-top: none;
}
.box-inner-container:before,
.box-inner-container:after {
  content: '';
  position: absolute;
  top: 0;
  width: 30%;
  border-bottom: 2px solid #fff;
}
.box-inner-container:before {
  right: 0;
}
.box-inner-container:after {
  left: 0;
}
.box-content h2 {
  font-size: 23px;
  margin-bottom: 10px;
  font-weight: 350;
  color: #fff;
}
.box-content h3 {
  font-size: 13px;
  font-weight: 550;
  margin: 0;
}
.box-icon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 35px;
  margin-left: -20%;
}
.col-md-3,
.col-sm-6 {
  max-width: 100%;
}

/* Contact******** */
.contact-section {
  background: url(../img/coffee-sm.jpg) no-repeat;
  background-size: cover;
}
.contact-button {
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #607d8b;
}
.contact-button:hover {
  background-color: #fff;
}
.contact-button-text:hover {
  color: #333;
  text-decoration: none;
}
.contact-button-text {
  color: #fff;
}

/* Projects********** */
.portfolio-col {
  display: inline-flex;
}
#portfolio {
  background-color: #607d8b;
}
.portfolio-heading {
  background-color: #23546d;
  padding: 10px;
  height: 60px;
  text-align: center;
  width: 100%;
  color: #fff;
}
.portfolio-img {
  max-width: 100%;
  border-radius: 3px;
}
.portfolio-text {
  margin: 50px 0;
  color: #fff;
}
.portfolio-icons {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.fa-external-link-alt {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 30px;
}
.fa-external-link-alt:hover {
  background-color: #05577a;
  color: #fff;
  border-radius: 5px;
}
.heading-icons {
  display: inline-flex;
}
.heading-text {
  margin-top: 8px;
}
.img-overlay {
  margin: 100px 0 0;
}
.img-overlay .img-icons {
  transition: 0.5s ease;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  z-index: 3;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.img-overlay:hover .img-icons {
  opacity: 1;
}
.img-icons i {
  color: #fff;
  font-size: 40px;
}
.img-icons a {
  width: 40px;
  height: 40px;
  background-color: #23546d;
  position: relative;
  display: inline-block;
  border-radius: 3px;
}
.img-overlay:hover {
  opacity: 0.3;
  -webkit-transition: all 0.2a, linear 1s;
  -moz-transition: all 0.2a, linear 1s;
  -o-transition: all 0.2a, linear 1s;
  -ms-transition: all 0.2a, linear 1s;
  transition: all 0.2a, linear 1s;
}

/* Footer ***************/
footer {
  font-size: 12px;
  padding: 5px;
  width: 100%;
  text-align: center;
  display: block;
  background-color: #23546d;
  bottom: 0;
}
.social-icon {
  color: #fff;
}
.social-icons li {
  vertical-align: top;
  display: inline;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}
.fa-twitter {
  padding: 10px 12px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-twitter:hover {
  background-color: #00aced;
  border-radius: 5px;
}
.fa-envelope-open {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-envelope-open:hover {
  background-color: #e64a41;
  border-radius: 5px;
}
.fa-linkedin {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-linkedin:hover {
  background-color: #0073a4;
  border-radius: 5px;
}
.fa-github-alt {
  padding: 10px 9px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-github-alt:hover {
  background-color: #05577a;
  color: #fff;
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  .headerMsg {
    margin-top: -160px;
  }
  .headerName {
    font-size: 43px;
  }
  .headerTitle {
    font-size: 16px;
  }
  .img-overlay {
    margin: 0 0 100px;
  }
  .portfolio-text {
    margin: 50px 0 0;
  }
}

@media screen and (max-width: 420px) {
  /* .headerMsg {
    margin-top: -200px;
  } */
  .headerName {
    font-size: 33px;
  }
  .headerTitle {
    font-size: 14px;
  }
}
