body {
  font-size: 14px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
  font-family: 'Kodchasan', sans-serif;
}

/* Header******** */
.headerImg {
  width: 100%;
  z-index: 6;
}
.headerMsg {
  width: 100%;
  position: absolute;
  height: 250px;
  top: 50%;
  text-align: center;
  color: rgb(241, 241, 252);
  z-index: 5;
  /* margin-top: -125px; */
}
.headerName {
  font-size: 53px;
  background-color: rgba(135, 139, 143, 0.7);
  letter-spacing: 6px;
}
.headerTitle {
  font-size: 26px;
  background-color: rgba(135, 139, 143, 0.7);
  letter-spacing: 6px;
}

/* About********** */
.section {
  padding: 100px 0;
}
.face-shot {
  width: 100%;
  max-width: 350px;
}

/* Skills **************** */
.skills-section {
  background-color: #607d8b;
  color: #fff;
}
.box-item {
  margin-top: 30px;
  position: relative;
}
.box-inner-container {
  position: relative;
  padding: 20px 15px 25px;
  text-align: center;
  border: 2px solid #fff;
  border-top: none;
}
.box-inner-container:before,
.box-inner-container:after {
  content: '';
  position: absolute;
  top: 0;
  width: 30%;
  border-bottom: 2px solid #fff;
}
.box-inner-container:before {
  right: 0;
}
.box-inner-container:after {
  left: 0;
}
.box-content h2 {
  font-size: 23px;
  margin-bottom: 10px;
  font-weight: 350;
  color: #fff;
}
.box-content h3 {
  font-size: 13px;
  font-weight: 550;
  margin: 0;
}
.box-icon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 35px;
  margin-left: -20%;
}
.col-md-3,
.col-sm-6 {
  max-width: 100%;
}

/* contact******** */
.contact-section {
  background: url(../img/coffee-sm.jpg) no-repeat;
  background-size: cover;
}
.contact-button {
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #607d8b;
}
.contact-button:hover {
  background-color: #fff;
}
.contact-button-text:hover {
  color: #333;
  text-decoration: none;
}
.contact-button-text {
  color: #fff;
}

/* Portfolio********** */
#portfolio {
  background-color: #607d8b;
}
.portfolio-heading {
  text-align: center;
  width: 100%;
  color: #fff;
}
.portfolio-img {
  max-width: 100%;
  margin: 50px 0;
}
.portfolio-text {
  margin: 50px 0;
  color: #fff;
}
.portfolio-icons {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.fa-external-link-alt {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-external-link-alt:hover {
  background-color: #05577a;
  border-radius: 5px;
}
.heading-icons {
  display: inline-flex;
}
.heading-text {
  margin: 0;
}

/* Footer ***************/
footer {
  font-size: 12px;
  padding: 5px;
  width: 100%;
  text-align: center;
  display: block;
  background-color: #607d8b;
  /* position: fixed; */
  bottom: 0;
}
.social-icon {
  color: #fff;
}
.social-icons li {
  vertical-align: top;
  display: inline;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}
.fa-twitter {
  padding: 10px 12px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-twitter:hover {
  background-color: #00aced;
  border-radius: 5px;
}
.fa-envelope-open {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-envelope-open:hover {
  background-color: #e64a41;
  border-radius: 5px;
}
.fa-linkedin {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-linkedin:hover {
  background-color: #0073a4;
  border-radius: 5px;
}
.fa-github-alt {
  padding: 10px 9px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-github-alt:hover {
  background-color: #05577a;
  border-radius: 5px;
}
